@charset"UTF-8";
*{
    margin: 0;
    padding: 0;
    list-style: none;
}

html,body{
   
    font-size: 62.5%;
    width: 100%;
    height: 100%;
    
}
body{
    background: #2D3240;
}

header{
    div:nth-of-type(1){
        background: url(../../img/join_01_00.jpg) no-repeat;
        background-size: cover;
        width: 100%;
        height: 350px;
    }
    div:nth-of-type(2){
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: fixed;
        top: 5px;
        padding: 1rem;
        >i{
            width: 50%;
            font-size: 20px;
            color: white;
        }
        >span{
            width: 60%;
            img{
                width: 70%;
                
            }
        }
    }   
    .jiaru{
        color: white;
        padding: 0.6rem 4rem;
        text-align: center;
        background: #FD2E31;
        position: absolute;
        top: 35%;
        left: 30%;
    }
}
p{
    text-align: center;
    color: white;
    margin-top: 2rem;
}
.anniu{
    display: flex;
    padding: 1rem;
    p{
        border: 1px solid #0E90D2;
        padding: 3% 20%;
    }   
}
.huan{
    padding: 1rem 1.5rem;
    ul{
        margin-top: 2.3rem;
        color: white;
        li{
            margin-top: 0.5rem;
        }
        li:nth-of-type(1){
            margin-bottom: 1.8rem;
        }
    }
}
footer{
    margin-top: 2rem;
    background: url(../../img/join_03_00.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
    
    p:nth-of-type(1){
        padding-top: 3rem;
        margin-bottom: 55%;
    }
    a{
        margin-left: 23%;
        
        text-decoration: none;
        background: red;
        color: white;
        padding: 1rem 5rem;
       
    }
}
#cbl{
    width:100%;
    height:100%;
    color:#fff;
    position: fixed;
    left: -100%;
    top: 0;
    transition: transform 0.5s;
    display:flex;
    z-index: 600;
    >div:nth-of-type(1){
        background:#000;
        width:45%;
        ul{
            list-style: none;
            text-align: center;
            padding:15% 10%;
            li{
                border-bottom:1px solid #333;
                padding:10% 0;
                a{
                    color:#ccc;
                    font-weight: 400;
                }
            }
        }
    }
}
.huadong{
    transform: translateX(100%);
}