<div class="quan">
    <p>在这里，你不是一个人</p>
    <ul class="clearfd">
        <li>
            <img src="img/indeximg/02_01.png" alt=""/>
            <p><span>1500</span>个</p>
            <span>跑过的城市</span>
        </li>
        <li>
            <img src="img/indeximg/02_02.png" alt=""/>
            <p><span>120000W</span>公里</p>
            <span>坚持的脚步</span>
        </li>
        <li>
            <img src="img/indeximg/02_03.png" alt=""/>
            <p><span>200000W</span>小时</p>
            <span>做着同样的事情</span>
        </li>
        <li>
            <img src="img/indeximg/02_04.png" alt=""/>
            <p><span>3000W</span>人</p>
            <span>和你在一起</span>
        </li>
    </ul>
    <p>每一步，悦跑与你同行</p>
    <ul>
        <li>
            <img src="img/indeximg/03_00.png" alt=""/>
            <p>精确GPS轨迹记录</p>
            <span>通过移动设备ＧＰＳ芯片数据，实时记录您的运动轨迹，独有算法让数据误差更低</span>
        </li>
        <li>
            <img src="img/indeximg/03_01.png" alt=""/>
            <p>数据防作弊系统</p>
            <span>独有的防作弊系统，杜绝一切恶意刷数据行为，捍卫跑步精神</span>
        </li>
        <li>
            <img src="img/indeximg/03_02.png" alt=""/>
            <p>训练项目</p>
            <span>科学的跑步计划，加速提升训练效果，助你突破每一个里程碑</span>
        </li>
        <li>
            <img src="img/indeximg/03_03.png" alt=""/>
            <p>专业化运动数据分析</p>
            <span>多维度数据分析科学，调整自己的跑步节奏，保障健康训练与突破</span>
        </li>
        <li>
            <img src="img/indeximg/03_04.png" alt=""/>
            <p>精英挑战计划</p>
            <span>参与挑战完成任务，放肆跑，放肆练，挑战自我极限</span>
        </li>
        <li>
            <img src="img/indeximg/03_00.png" alt=""/>
            <p>马拉松赛事直播</p>
            <span>实况直播你就是主角，在这里，跑步并不孤独！敬请期待！</span>
        </li>
    </ul>
    <p>每一个脚印，都是对自己的肯定</p>
    <ul>
        <li>
            <div>
                <h6>勋章荣耀之殿</h6>
                <p>每份努力 每滴汗水</p>
                <p>每个特殊时刻</p>
                <p>悦跑伴你铭记</p>
            </div>
            <img src="img/indeximg/m-part3-1.png" alt=""/>
        </li>
        <li>
            <div>
                <h6>勋章荣耀之殿</h6>
                <p>每份努力 每滴汗水</p>
                <p>每个特殊时刻</p>
                <p>悦跑伴你铭记</p>
            </div>
            <img src="img/indeximg/m-part3-2.png" alt=""/>
        </li>
        <li>
            <div>
                <h6>勋章荣耀之殿</h6>
                <p>每份努力 每滴汗水</p>
                <p>每个特殊时刻</p>
                <p>悦跑伴你铭记</p>
            </div>
            <img src="img/indeximg/m-part3-3.png" alt=""/>
        </li>
    </ul>
    <p>跑步并不孤单</p>
    <div>
        <img src="img/indeximg/m-part5-bg.png" alt=""/>
        <div><img src="img/indeximg/head1.png" alt=""/></div>
        <div><img src="img/indeximg/head2.png" alt=""/></div>
        <div><img src="img/indeximg/head3.png" alt=""/></div>
        <div><img src="img/indeximg/head4.png" alt=""/></div>
        <div><img src="img/indeximg/head5.png" alt=""/></div>
    </div>
    <div>
        <img src="img/indeximg/m-part6-bg.jpg" alt=""/>
    </div>
</div>