<div class="tuan">
    <p>找到属于你的一路上的伙伴</p>
    <div>
        <p> 「悦跑团」专为跑团研发的APP，不论你是跑团管理运营者，还是跑团成员，都能满足你需要的一切——跑团数据报告、跑团数据对比、跑团活动、活动报名签到管理、免费群发短信、群聊……只有意想不到，没有实现不了。</p>
        <p>如果你渴望体验跑团文化，感受跑团带给你的动力与坚持，期待在跑团中结交同道中人，「悦跑团」就是你的不二之选。</p>
        <p> 「悦跑团」由广州悦跑信息科技有限公司开发，与「悦跑圈」跑步数据无缝对接。</p>
    </div>
    <div>
        <img src="img/indeximg/m-rundnd02_00.png" alt=""/>
    </div>
    <div>
        <img src="img/indeximg/m_rundnd_03_01.png" alt=""/>
    </div>
    <p>【数据报告，精准高效】</p>
    <div>
        <img src="img/indeximg/m_rundnd_03_02.png" alt=""/>
    </div>
    <p>【数据报告，精准高效】</p>
    <div>
        <img src="img/indeximg/m_rundnd_04_00.jpg" alt=""/>
    </div>
</div>